.ui-body-c, .ui-overlay-c {
    
    text-shadow: 0px 0px 0px #FFF;font-family: 'Lato', sans-serif;
}

input.ui-input-text{
    box-sizing:0;
}

.ui-shadow-inset {
    box-shadow:none;
}

.ui-corner-all {
    border-radius:0;
}
/*
.profile_details input{background: url('../images/edit.png') no-repeat scroll 0% -10% transparent;background-position: 96% 37%;background-size: 42px;background-color:#e2e0e0;font-family: 'Lato', sans-serif;}
*/
.ui-shadow {
    box-shadow:none;
}

.ui-btn-hover-c {
    color:none;
    text-shadow:none;
}

.ui-body-c .ui-link{font-weight:normal;color:#fff;}
.ui-body-c, .ui-overlay-c {
    text-shadow:none;
}
.ui-body-c .ui-link:hover {
    color:#fff;
}

.ui-btn-inner {
    font-size: 14px;
}
.ui-btn-text{
	text-shadow: none;
	font-weight: 500;
}

.footer-item span{
	font: 0.9em HelveticaNeue,Arial;
	position: absolute;
	padding-top: 13px;
}

.ui-btn-up-c{border:0;}

.details{position:relative;}
.edit-img{   position: absolute;
    right: 0;
    top: 16px;
}
.btn-save{ 
}