/*
.in-login{background:#f5b10e url(../images/mainbg-min.png) no-repeat;background-size: cover;}
.in-login-logo{padding-top: 20%;}
.in-login-logo{text-align: center;}
.in-login-fb{background: #3b5998;}
.in-login-gp{background: #dc4d38;}
/*.in-login-em{background: #e3e3e3;}*/
	/* Login with your email button removed*/
/*
.in-login-shr-btn .btn{margin-bottom: 2%;text-align: left;padding: 14px 0px 12px 0px;font:1em HelveticaNeue,Arial;}
.in-login-shr-btn .icon{float: left;margin-left: 2%;}
.in-login-text{color: #fff;text-align: left;padding-left: 3%;}
.in-login-text-black{color:#181818;text-align: left;padding-left: 3%;padding-top:10px;font:1em HelveticaNeue,Arial;top:5px;font-size:12px;}
.in-login-buttons{width: 100%;display: inline-block;}
.in-login-buttons button{width: 49.7%;}
.in-login-em{padding-bottom:8px;margin-bottom:7px;}
#btn-login{float: left;}
#btn-signup{float: right;}
.btn-black{padding: 10px 0px 10px 0px;}
.btn-not-now{border-top: 0px #f5b10e solid;}
*/
.ui-mobile-viewport {
	background: url('../images/mainbg-min.jpg') no-repeat;
	background-size: 100% 100% !important;
}

body{
   background-color: #000 !important;
   font-family:lato !important;
 }
 
  #container {
            position: absolute;
            width: 100%;
            height: 100%;
        }

.ui-mobile-rendering >*{ visibility: visible !important; }
.ui-page {
	background: none;
	-webkit-backface-visibility: hidden;
}

.ui-overlay-a {
	background: #222 !important;
}

.ui-btn.buttonlog {
	color: black;
	background: white;
}

?
.ui-btn.buttonsign {
	color: black;
	background: white;
}

?
.ui-btn {
	border: none !important;
}


.ui-bar-a {
	border: none !important;
	background: #070401 !important;
	color: none !important;
	text-shadow: none !important;
	font-family: lato !important;
}

.ui-title {
	color: white !important;
}

.ui-corner-all {
	-moz-border-radius: .3em !important;
	-webkit-border-radius: .3em !important;
	border-radius: .3em !important;
}


::-webkit-input-placeholder {
	font-family: lato;
	color: black;
}

::-moz-placeholder {
	font-family: lato;
	color: black;
} /* firefox 19+ */
:-ms-input-placeholder {
	font-family: lato;
	color: black;
} /* ie */
input:-moz-placeholder {
	font-family: lato;
	color: black;
}

.ui-body-c,.ui-overlay-c {
	text-shadow: none;
	font-family: lato;
	color: white;
}
.ui-btn-up-c{
	background:none;text-shadow:none;color:#fff;font-weight:normal;
}

.ui-btn-hover-c{background:none;background:none;text-shadow:none;color:#fff;font-weight:normal;}

.ui-btn-hover-c:hover{color:#fff;}

.ui-checkbox-on .ui-icon{
	background-color:#fff;
}

.ui-checkbox-on .ui-icon{background-color:#fff;}
.ui-icon-checkbox-off{background-color:#fff;}

input[type="checkbox"]{margin:-9px 0.1em 0.2em -2px !important;}

.check .ui-btn-inner{
border:0 !important;font-size:11px !important;padding-left:25px !important;
}

.check a{color:#fff !important;}

.ui-btn-hover-c{
	text-shadow:none;
}
.termsandcons{color: #F5B117;}
.read a{color:rgb(245,177,23)!important;}

.check-label{
	border:0;
}
.ui-icon-checkbox-on {
    background-position: -252px 50%!important;
}
.ui-checkbox .ui-btn{margin-top: 1px;margin-bottom: 0;}
.ui-icon-checkbox-on {
    background-position: -648px 50%;
}
.ui-checkbox .ui-btn-icon-left .ui-icon{left:0;}
.ui-checkbox input{left:4px;}
.ui-body-c .ui-link{color:#fff;font-weight:normal;}
.ui-body-c .ui-link:hover{color:rgb(245,177,23);}
a:hover{color:rgb(245,177,23);}
.user_register input.form-pad{margin-top:8px!important;}

@media(min-height:481px) and (max-height:550px){
.user_register input.form-pad{margin-top:6%!important;}
}

@media(min-height:551px) and (max-height:800px){
.user_register input.form-pad{margin-top:7%!important;}
.ui-checkbox{margin-top:7%;}
}

@media(min-height:700px){
.user_register input.form-pad{margin-top:10%!important;}
.ui-checkbox{margin-top:10%;}
}

#signup {
	background: url('../images/signup-bg.png') no-repeat;
	background-size: 100% 100% !important;
}

/*forgot password popup*/
#forgot-popup{width:90%!important;}


/* Forgot Password */
#forgot {padding-bottom:35px;}
#forgot .heading{padding:10px;color:#000;text-align:center;border-bottom:1px solid #e6e6e6;font-size:10px;width:93%;margin:0 auto;}
#forgot .heading p{margin:0px;font-size:15px;color:#000;}
#forgot .form{padding:40px 10px 20px 10px;}
#forgot .form p{margin:0px;padding:0px;}
#forgot .form input{margin-top:10px;margin-bottom:15px;}
#forgot .form a.submit{margin:0 auto;display:block;text-shadow:none;color:black;background:#f4b11b;border-bottom:2px solid #CB9113;padding:10px;text-align:center;font-size:15px;font-family:lato;}
/* /Forgot Password */

/* Alerts */
.verification.hide{display:none;}
.verification {position:absolute;width:100%;height:110%;top:0;background:rgba(0, 0, 0, 0.6);z-index: 200;}
.verification .content{background:#000;border-radius:10px;text-align:center;width:80%;margin:0 auto;padding:10px 0px 1px 0px;color:#fff;position:absolute;left:9%;top:30%;}
.verification .content div{padding-bottom:5px;color:#fff;}
.verification .content div p{color:#fff;}
.verification .content .title{padding-bottom:10px;padding-top:10px;}
.verification .content .title span{vertical-align:-3px;}
.verification .content .msg{padding:0px 5px 10px 5px;}
.verification .content .msg p{margin:0px;}
.verification .content .msg .number{color:#f4b11b;}
.verification .content .actions{border-top:1px solid #f4b11b;}
.verification .content .actions a{width:40%;padding:10px;font-size:15px;color:#f4b11b;}
.verification .content .actions a.edit{float:left;border-right:1px solid #f4b11b;}
.verification .content .actions a.ok{float:right;}
.welcome.hide{display:none;}
.welcome {position:absolute;width:100%;height:110%;top:0;background:rgba(0, 0, 0, 0.6);z-index: 200;}
.welcome .content{background:#000;border-radius:10px;text-align:center;width:80%;margin:0 auto;padding:10px 0px 1px 0px;color:#fff;position:absolute;left:9%;top:30%;}
.welcome .content div{padding-bottom:5px;color:#fff;}
.welcome .content div p{color:#fff;}
.welcome .content .title{padding-bottom:10px;padding-top:10px;}
.welcome .content .title span{vertical-align:-3px;}
.welcome .content .msg{padding:0px 5px 10px 5px;}
.welcome .content .msg .name{color:#f4b11b;}
.welcome .content .msg p{margin:0px;}
.welcome .content .actions{border-top:1px solid #f4b11b;padding:10px;}
.welcome .content .actions a{width:100%;padding:2px;font-size:15px;color:#f4b11b;}

/* /Alerts */

/*  */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/*  */

/* error msg */
#signUp-form p.error{width: 80%;margin: 0 auto;padding: 2px;padding-top:5px;color: #fb2;}
/* /error msg */
.check-label{z-index:100;}
.check-label a.terms{color:#fb2 !important; font-size:12px;z-index:1;text-decoration:underline;}

