/*start of css for the header*/
.invite-header{background: #000;padding: 6px 0 6px 0;height:25px;}
.invite-header .right{margin-top: 3px;}
.invite-left{width: 33.5570%;}
.header-section,.main-data{position: relative;}
.header-section,.main-data,.footer1-data{position: relative;}
.invite-main .mp-header-left{margin-top: -3px; margin-left:9px;}

.icon-panel{overflow: hidden;}
.menuCenter{position:relative;left:50%;}
.invite-main-menu{position:relative;left:-50%;top:3px;}

.bttn{ display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 0px;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;}

/*end of css for the header*/

/*start of css for the main content*/
ul li .icon{cursor: pointer;}
.invite-header .mb{
	width: 20%;
}
.header-data{position: absolute;}
.header-section{margin:0 11px;}
.wrapper{overflow: hidden;}
.wrapper-data{position: relative;}
.hide{display: none;}


.invite-main .invite-text-center{position:absolute;left:65%; margin-bottom: 10px;}
.invite-main-center{position:relative;left:-50%;}
.invite-main-menu{color:#fff;font:1.107em HelveticaNeue,Arial;vertical-align: sub;}
.invite-main-center,.invite-main .right{display:inline-block;}
.invite-main .invite-main-nav{margin-top:3px; margin-right: 11px;}



.in-login-fb{background:#fff;}
.in-login-tw{background:#fff;}
.in-login-gp{background:#fff;}
.in-login-em{background:#fff;}
.in-login-ins{background:#fff;}
.in-login-shr-btn .btn{text-align: left;font:1em HelveticaNeue,Arial;padding-top:5px;}
.in-login-shr-btn .icon{float: left;}
.in-login-text{color: #000000; text-align: left;padding-left: 2%; padding-top: 10%;font-weight:bold;vertical-align:-13px;}
.in-login-text-black{color:#181818;text-align: left;padding-left: 3%;font-weight:bold; vertical-align: -13px;}
.in-login-buttons{width: 100%;display: inline-block;}
.in-login-buttons button{width: 49.7%;}

.btn-black{padding: 13px 0px 13px 0px;}
.footer1{position: relative; bottom: 7px;text-align: center; font-weight: bold;}
.p{margin-left: 20%;padding-left: 30%;margin-bottom:30px;position:absolute;}
#face{left:-3px;}
#goog{left:3px;}
#emai{left:2px;}
#insa{left:6px;}
#twee{left:2px;}
#googtext{margin-left:4px;}
#insatext{margin-left:6px;}
#tweetext{margin-left:-2px;}
