/* start of map section */
.lp-body .mp-header-left{margin-top: -5px;}
.lp-map-section{width: 100%;height: 200px;}
.lp-section-input{width:85%;margin: 0 auto;}
.btnMapSearch{opacity: 0.6;background:#000;color:#fff;height:30px;padding-left: 10px;margin-top:10px;width: 100%;}
/* end of map section */
.main-con-rating{position:relative;left:10%;bottom:18px;padding-left:60px;}
/*start of location list section */
.btnCheckIn{text-transform: uppercase;background-color: #f5b10e;color:#000;
width: 33%;position:relative;float:right;height:22px;}
.chk{font-size:12px;position:relative;bottom:5px;}
.lp-body .main-con-dish-list-left{width: 100%;}
.lp-body .main-con-dish-list-left .dish-name{text-transform: uppercase;font-family:'HelveticaNeue';text-align: inherit;display:inline-block;float:left;width:100%; padding-left: 3px; margin-top: -2px;}
.lp-body .main-con-dish-img{width: 20%;}
.lp-body .dish-details {width:80%;position:relative;margin-bottom:10px;display:inline-block;}
.lp-body .main-con-address{font:0.8em 'HelveticaNeue',Arial;float: left;padding-left: 1px;display:inline-block;width:90%;}
.lp-body .main-con-distance{font:0.8em 'HelveticaNeue',Arial;padding-left: 1px;width:80%;padding-bottom:-10%;position:relative;display:inline-block;}
.lp-body .footer-items-list li{height: 47px;padding: 11px 0;}
.lp-body .main-content-location-list li{border-bottom: solid 1px #38362e;overflow: hidden; margin-top: 15px;margin-bottom:-5px;}
/*end of location list section */
.test{padding-right:50px;position:absolute;}
