ol.privacy-content{padding:40px !important;}
p{text-align:justify;padding-top:5px;}
.roman-style li{font-family: helvetica;
			  font-size: 0.75em;
			  margin: 0px 0px 1.5em;
			  color: #5B5B5B;
			  text-align:justify;}
ol.roman-style{list-style-type:lower-roman;font-family: helvetica;
			  font-size: 1em;
			  margin: 0px 0px 1.5em;
			  color: #5B5B5B;}	
ul.bullet-style{list-style-type:disc;padding-top: 5px;}
.bullet-style li{font-family: helvetica;
			  font-size: 1em;
			  margin: 0px 0px 1.5em;
			  color: #5B5B5B;} 		  