
/*start of css for the header*/
.thankyou-header{background: #000;padding: 9px 0 9px 0;}
.mp-header .right{margin-top: 3px;}
.mp-header-left{width: 33.5570%;}
.header-section,.main-data{position: relative;}
.icon-panel{overflow: hidden;}
.icon-tapeat{position:relative;left:-50%;top:1%;bottom:18px;}
.menuCenter{position:absolute;left:50%;}
.mp-main-menu{position:relative;left:-50%;bottom:18px;}
.tu-details .mb{width:100%;height:65px;}

/*end of css for the header*/
p{margin:0px;padding:0px;}


/*start of css for the main content*/
ul li .icon{cursor: pointer;}
.mp-header .mb{
	width: 93.125%;
}
.header-data{position: relative;}
.header-section{margin:0 11px;}
.wrapper{overflow: hidden;}
.wrapper-data{position: relative;}
.hide{display: none;}
.mp-main{background: #000}
.mp-main-menu{color:#fff;font:1.107em HelveticaNeue,Arial;vertical-align: sub;}
.mp-main-center,.mp-main .right{display:inline-block;}
.te-left-nav .icon-tapneat2{margin-left:-7%;z-index:999;margin-top: 0;}
.tu-text{font:bold 1.1em HelveticalNeue,Arial;}
.tu-thankyou-text{font:bold 1.2em HelveticalNeue,Arial;}
.tu-main{text-align:center;position:relative;margin-top:2%;}
.restro-details .rest-name{color:#000;font:bold 0.911em HelveticaNeue,Arial;}
.restro-details .rest-type{color:#626262;font:0.716em HelveticaNeue,Arial;}
.main-content-details{margin: 17px 0px 0px 26%;}
.connect-text{position:relative;width:100%;text-align:center;bottom:10%;}

.ordered-items-total-lbl{font-weight:bold;}
.icons-tu{width:250px;display:inline-block;position:absolute;left:50%;}
.icons-center{position:relative;left:-50%;float:left;width:100%;padding-left:4%;}
.ordered-items-amt{background-color:rgb(206,206,206);border-radius:5px;}
.icons-tu .icon{float:left;}
.ordered-items-subtotal-lbl,.ordered-items-tax-lbl,.ordered-items-tip-lbl,.ordered-items-total-lbl,.service-tax-lbl,.vat-liquor-charge-lbl,.vat-charge-lbl{float:right;}
.item-style{margin:30px 0;margin-top:5px;}
.tu-main .tran-id-text{color:#626262;font:0.9em HelveticaNeue,Arial;}
.connect-style{color:#626262;font:bold 0.911em HelveticaNeue,Arial;}
.tus{margin-left:10px;}
.new-order{text-transform: uppercase;background-color: #f5b10e;color:#000;width:50%;margin:auto;display:block;border-bottom:2px solid #DF9F08;border-right:1px solid #DF9F08;}
.new-text{font-size:10px;}
/*styling to display receipt*/
.price-details{float:right;position:relative;}
.dishstyle{width:50%;margin-left:10%;position:relative;bottom:20px;margin-bottom:-40px;text-transform:uppercase;font-size:1em;}
.rp{padding:0 5%;font-size:1em;}
.count-style{margin-left:12px;margin-top:16%;position:absolute;font-weight:bold;font-style:normal;}
.rest-details{background-color:rgb(245,177,14);font-size:1em;font-weight:bold;padding-top:5px;padding-bottom:5px;overflow:hidden;}
.ordered-items-total{padding-top:2px;padding-bottom:8px;}
.bill-date{float:right;}


/*start of css for the footer*/
.receipt-footer{position:fixed;}
.footer-items-list{display: inline-block;width: 100%;}
.footer-items-list li{display:inline-block;width:49.92%;background: url('../images/menu/footer-item-bg.jpg') 100% 100%;
margin-right: -0.5%;text-align: center;padding: 4px 0;float: left;}
.footer-items-list li:first-child{border-right:1px solid #4e4e4e;}
.footer-items-list li:nth-child(2){border-left:1.5px solid #1d1d1d;}
.footer-item span{color:#fff;font:0.750em HelveticaNeue,Arial;text-transform: uppercase;}
body{padding-bottom: 100px;}
footer{position: relative;margin-bottom: -4px;height: 47px;}
/*end of css for the footer*/


/* Order Receipt  */
.receipt-details{border:1px solid #d8d8d8;margin:0 3%;}
.order-receipt .branding{overflow:hidden;border-bottom:1px solid #e6e6e6;}
.order-receipt .branding .logo{float:left;}
.order-receipt .branding .details{float:left;padding:16px;width:100%;}
.order-receipt .branding .details .name{font-size:15px;}
.order-receipt .branding .details .type{font-size:10px;}
.order-receipt .order-collection table{width:100%;}
.order-receipt .order-collection table tr.order-item{background:#f2f2f2;width:100%;font-size:11px;}
.order-receipt .order-collection table tr.order-item td{padding: 5px 0px;border-bottom:1px solid #e6e6e6;}
.order-receipt .order-collection table tr.order-item td.plus{width:20px;}
.order-receipt .order-collection table tr.order-item td.minus{width:20px;}
.order-receipt .order-collection table tr.order-item td.count{width:30px;text-align:center;}
.order-receipt .order-collection table tr.order-item td.dish{padding-left:5px;}
.order-receipt .order-collection table tr.order-item td.remove{width:10%;text-align:center;font-size:14px;}
.order-receipt .billing{margin-top:10px;border-bottom:1px solid #e6e6e6;padding-bottom: 10px;}
.order-receipt .billing table{width:100%;}
.order-receipt .billing table tr{background:#fff;width:100%;font-size:11px;}
.order-receipt .billing table tr td{padding: 2px 5px;}
.order-receipt .billing table tr td.cost{width:20%;}
.order-receipt .total{padding-top:10px;padding-bottom:10px;border-bottom:1px solid #e6e6e6;overflow:hidden;background:#f2f2f2;}
.order-receipt .total table{width:100%;}
.order-receipt .total table tr{background:#fff;width:100%;font-size:11px;}
.order-receipt .total table tr td{padding: 2px 5px;background:#f2f2f2;font-weight:bold;}
.order-receipt .total table tr td.cost{width:20%;}
.order-receipt .pay-btns {text-align:center;}
.order-receipt .pay-btns a.waiter{background:#f4b11b;padding: 10px 10px;font-size:12px;color:#000;display:inline-block;margin:10px 5px;width:35%;border-bottom:2px solid #CB9113;border-right:1px solid #CB9113; box-shadow: 2px 1px 3px #888888;}
.order-receipt .pay-btns a.mobile{background:#4ab61f;padding: 10px 10px;font-size:12px;color:#000;display:inline-block;margin:10px 5px;width:35%;border-bottom:2px solid #368e13;border-right:1px solid #368e13; box-shadow: 2px 1px 3px #888888;}
.order-receipt .addmore-btn {text-align:center;}
.order-receipt .addmore-btn a.add{background:#f4b11b;padding: 10px 5px;font-size:12px;color:#000;display:inline-block;margin:5px;margin-top:0px;width:84.5%;border-bottom:2px solid #CB9113;border-right:1px solid #CB9113; box-shadow: 2px 1px 3px #888888;}
.remove-order{color:#f4b11b;font-size:20px;padding-right:10px;}
.order-receipt .order-collection table tr td.cost{width:25%;}
.order-receipt .ids {border-bottom:1px solid #e6e6e6;}
.order-receipt .ids table.id-table tr td{font-size:10px;padding:1px 0px;padding-left:10px;}
.order-receipt .ids table.id-table{width:100%;}
.order-receipt .ids table.id-table tr td table{width:100%;}
.order-receipt .order-collection table tr.order-item td.count{width:100px;text-align:center;}
.order-receipt .order-collection table tr.order-item td.count span{}
.order-receipt .order-collection table tr td.cost i,.order-receipt .order-collection table tr.order-item td.count i,.order-receipt .billing table tr td.cost i,.order-receipt .total table tr td.cost i{padding:0px 4px 0px 5px;font-size:10px;}

/* /Order Receipt */

/* font awesome icons */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}


/* /font awesome icons */


