.ro-header {
    background: #000;
    width: 100%;
    padding: 9px 0 9px 0;
    
}

body{overflow:auto;}
.mp-header-left1{margin-top:-5px;}

.ro-header .mb {
    width: 93.125%;
}

.ro-main-content-dish-list {
    clear: both;
    overflow: auto;
    
}

.ro-main-content-dish-list li{
    background: -webkit-linear-gradient(#e3e4e4, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e3e4e4, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e3e4e4, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e3e4e4, white);
    /* Standard syntax (must be last) */
}

.inline-display  div{

background: -webkit-linear-gradient(top,#e3e4e4,#CBD1D1);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top,#e3e4e4,#CBD1D1);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top,#e3e4e4,#CBD1D1);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(top,#e3e4e4,#CBD1D1);
    /* Standard syntax (must be last) */

}

.ro-bill-details{font-size:15px !important;}

.ro-main-content-dish-list li {
    overflow: visible;
    height: 45px;
}

.ro-main-content-dish-list li .dish-name {
    width: 45%;
}

.main-con-dish-prices {
    width: 55%;
}
.footer-items-list{background-color:black;}
.footer-items-list li {width:50%;}

.ro-main-content-dish-list .icons {
    width: 29.1812%;
}

.ro-main-content-dish-list .dish-details {
    width: 70.8187%;
    float: left;
}

.ro-main-content-dish-list .dish-details .dish-name {
    float: left;
    margin-top: 7px;
}

.ro-main-con-dis-det {
    overflow: auto;
}

.ro-main-con-dis-det .txtDiscountDetails {
    float: left;
    width: 73.8255%;
    padding: 7px 0 9px 0;
}

.ro-main-con-dis-det .btn-golden {
    float: right;
    width: 23.1744%;
    padding: 7px 0 3px 0;
}

.ro-bill-details input[type="text"],.lbl-service-charges,.lbl-tot-amt,.lbl-service-tax,.lbl-txt-vat-liquor,.lbl-txt-vat {
    float: right;
    padding: 0;
}

.sub {
    position: relative;
    bottom: 2px;
}

.ro-bill-details-buttons {
    margin-top: 10px;
}

.lbl-tot-amt {
    font-weight: bold;
}

.orderInstruct input {    
    width: 99.7%;
    height: 40px;
	margin-bottom:9px;
}



.txtDeliverTableNo input {
    width: 100%;
    height: 15px;
    padding: 7px 0px 7px 0px;
}

.btn-reset-order {
    width: 49%;
    display:block;
    margin:0 auto;
    margin-top:43px;
}

.btn-pay-waiter{
    width:49%;
    float:left;
}

.btn-pay-now {
    width: 49%;
    float: right;
}
/*styling the delivery placeholder*/
input.txtDiscountDetails::-webkit-input-placeholder {
    font-style: italic;
}

input.txtDiscountDetails::-moz-placeholder {
    font-style: italic;
} /* firefox 19+ */
input.txtDiscountDetails:-ms-input-placeholder {
    font-style: italic;
} /* ie */
input.txtDiscountDetails:-moz-placeholder {
    font-style: italic;
}

/*styling order instructions*/
input.orderInstruct::-webkit-input-placeholder {
    font-style: italic;
}

input.orderInstruct::-moz-placeholder {
    font-style: italic;
    letter-spacing: 3px;
}

input.orderInstruct::-ms-input-placeholder {
    font-style: italic;
}

input.orderInstruct::-moz-placeholder {
    font-style: italic;
}

input[type='radio']:active {
    color: green;
    background-color: green;
}

.ro-bill-details-add-tip input {
    width: 100%;
    height: 20px;
	margin-top:-4px;
}

.ro-main-content-dish-list .main-con-dish-price {
    float: right;
    padding-top: 7px;
}

.ro-main .main-content .mb {
    padding: 10px 0px 10px 0px;
}

.count-div {
    margin-left: 50px !important;
}

.rupie {
    margin-top: 8px !important;
    margin-left: 95px !important;
}

.dish-price {
    float: right;
    margin-top: 8px;
}

.inline{width:50%;float:left;padding-top:1px;}
.inline-display{display:inline-block;width:100%;margin-bottom:-3px;}
.btn-yellow{background-color:rgb(245,177,23);}
.fix-bottom{position:fixed;bottom:42px;width:100%;};
.ro-bill-details div {
    margin-bottom: -2px;
    background: none repeat scroll 0% 0% #F00;
}

.ro-bill-details-pickup .inline{}
.vat-gen.inline,.ro-bill-details-ser-charges.inline{width:49.6%;border-left: 1px solid rgba(182, 176, 176, 1);padding-top:1px;}
.ro-bill-details-total-amt.inline{width:49.6%;border-left: 1px solid rgba(182, 176, 176, 1);padding-top:5px;}